/*#app {
    height: 100%;
}*/
/*html,*/
/*body {*/
/*    position: relative;*/
/*    height: 100%;*/
/*}*/

/*body {*/
/*    background: #eee;*/
/*    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    color: #000;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
@import url(../../App.css);

/*.swiper-container {
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
}*/

.swiper {
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
}

.swiper-slide {
    height: 100vh;
    text-align: center;
    font-size: 18px;
    background: url("../../images/mainpage.jpg");
    background-size: cover;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide p {
    color: #194870;
    font-weight: bolder;
    font-size: 2rem;
    width: 45vw;
    height: auto;
    margin: auto 1rem;
}

.swiper-slide img {
    display: block;
    height: auto;
    width: auto;
    max-height: 80vh;
    max-width: 40vw;
    object-fit: cover;
    margin: auto 1rem;
}